.card {
    position: relative;
    overflow: hidden;
  }
  
  .card::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: calc(100% - 40px); /* Position the gradient after the button */
    z-index: -1;
    transition: transform 0.3s ease-in-out;
    background: linear-gradient(315deg, #edd812 0%, #766a65 74%);
  }
  
  .card:hover::after {
    transform: translateY(-100%);
  }
  
  .card:hover .info {
    opacity: 1;
    transform: translateY(0%);
  }
  
  .card .info {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: opacity 0.8s ease-in-out, transform 0.3s ease-in-out;
    transform: translateY(-100%);
    background-color: rgba(122,167, 102, 0.7); /* Use a semi-transparent background for the details */
  }
  
  .card button {
    position: relative; /* Make the button stack on top of the gradient */
    z-index: 1;
  }
  


  .card-button{
	border-radius:6px;
	display:inline-block;
	cursor:pointer;
	color:white;
	font-family:Arial;
	font-size:15px;
	padding:6px 24px;
	text-decoration:none;
  }

  .card-button:active{
    position:relative;
	top:1px;

  }